input.form-control:not(.default) {
    width: 90% !important;
    margin: 3%;
    height: 30px !important;
}

textarea.form-control:not(.default) {
    width: 90% !important;
    margin: 3%;
}

.popup_block_title {
    font-weight: bold;
}

.tags_popup .input-group span {
    position: relative;
    top: -0.5px;
}

/* table_notion_display & table_tags_color */

.table_notion_display {
    display: inline-block;
    margin: 20px;
}

.table_notion_display label input {
    position: relative;
    top: 3px;
    margin: 2px;
}

.table_notion_display th, .table_tags_color th, .table_notion_display td, .table_tags_color td {
    text-align: left;
    width: 150px;
    height: 20px;
}

.table_notion_display label {
    font-weight: normal !important;
    cursor: pointer;
}

.table_tags_color select {
    width: 100px;
}

.table_tags_color td {
    text-align: left;   
}

/* table_import */

/*.import_table_import {
    margin-top: 40px;
    width: 300px !important;
    border:2px solid #E5E5E5;
}*/

.import_table_current, .import_table_import {
    margin-top: 40px;
    margin-left: 40px;
    width: 300px !important;
    border:2px solid #E5E5E5;
}

.import_table_import th, .import_table_current th {
    color: gray;
    background-color: #E5E5E5;
    font-weight: bold !important;
    text-align: left;
    width: 150px !important;
}

.import_table_import td, .import_table_current td {
    text-align: left;
}

.import_dropdown_align {
    padding-left: 20px !important;
}

.import_dropdown {
    width: 125px;
}

.import_descs {
    font-size: 12px;
    font-weight: bold;
}

.import_items_td {
    padding-left: 20px !important;
    border: none !important;
}

.import_items_tr {
    border: none !important;
}

.import_divider {
    border-left:1px solid #E5E5E5; 
    position:absolute;
    height:100%;
    left:50%;
    top:0px; 
}

/* color_box */

.color-box {
	height: 20px;
	margin: 5px;
	border: 1px solid black;
}

#cell_display table {
    vertical-align: top;
}

#popup_saver table th {
    text-align: center;
    width: 100px;
}

#popup_saver table td {
    text-align: center;
}

#popup_saver label {
    font-weight: normal !important;
    cursor: pointer;
}

#saver_structure label input, #saver_tags label input{
    margin: 10px;
}

.block_restore {
    margin: 10px;
}

.restore_button {
    cursor: pointer;
    margin-left: 10px;
}

.restore_description {
    margin-left: 3px;
    font-style: italic;
}

.load .notion {
    margin-left: 5px;
}

#popup_filter input, #popup_filter select {
    margin: 10px;   
}